# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Lab_5/.idea/modules.xml
Lab_5/.idea/Lab_5.iml
Lab_5/.idea/misc.xml
Lab_5/.idea/vcs.xml
Lab_5/cmake-build-debug/.cmake/api/v1/query/cache-v2
Lab_5/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Lab_5/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Lab_5/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Lab_5/cmake-build-debug/.cmake/api/v1/reply/cache-v2-673aaa65c55388689e63.json
Lab_5/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-81f69cc57a960cc40c24.json
Lab_5/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-512fb3b2591359290ad4.json
Lab_5/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
Lab_5/cmake-build-debug/.cmake/api/v1/reply/index-2023-11-12T13-15-29-0035.json
Lab_5/cmake-build-debug/.cmake/api/v1/reply/target-Lab_5-Debug-21fec93ee1e2a72a6505.json
Lab_5/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-99265b04de7ada3aac9e.json
Lab_5/cmake-build-debug/.ninja_deps
Lab_5/cmake-build-debug/.ninja_log
Lab_5/cmake-build-debug/build.ninja
Lab_5/cmake-build-debug/cmake_install.cmake
Lab_5/cmake-build-debug/CMakeCache.txt
Lab_5/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
Lab_5/cmake-build-debug/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
Lab_5/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
Lab_5/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
Lab_5/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
Lab_5/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
Lab_5/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
Lab_5/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
Lab_5/cmake-build-debug/CMakeFiles/clion-environment.txt
*.check_cache
Lab_5/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
Lab_5/cmake-build-debug/CMakeFiles/rules.ninja
Lab_5/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Lab_5/cmake-build-debug/Lab_5
Lab_5/cmake-build-debug/Testing/Temporary/LastTest.log
Lab_5/cmake-build-debug/.cmake/api/v1/reply/index-2023-11-16T14-42-38-0974.json
Lab_5/cmake-build-debug/.cmake/api/v1/reply/cache-v2-a8ad5bfb1a67a84d7aaa.json
Lab_5/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-72c7dd75723e6f2335d4.json
/Lab_5/.idea
Lab_5/build
